---
import { getCollection } from 'astro:content';
import { t } from 'i18next';
const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h3 class="font-monospace text-2xl text-orange md:text-4xl">{t('projects.title')}</h3>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<div class="flex w-full flex-col flex-wrap items-center md:flex-row md:justify-between">
		{
			projects.map((project) => (
				<>
					<a href={project.data.link} target="_blank" rel="noopener">
						<div class="mb-10 flex h-fit max-w-xs flex-col overflow-hidden rounded border border-navy p-6 text-center text-navy shadow-lg dark:border-white dark:text-white">
							<img src={project.data.img} alt={project.data.img_alt} class="mb-6 w-full rounded" />
							<div>
								<h4 class="mb-2 text-xl font-semibold">{project.data.title}</h4>

								<p>
									{project.data.tags.map((tag) => {
										<p>{tag}</p>;
									})}
								</p>
							</div>
						</div>
					</a>
				</>
			))
		}
	</div>
	<a
		href="https://github.com/"
		target="_blank"
		rel="noopener"
		class="flex flex-row text-navy hover:text-orange dark:text-white dark:hover:text-orange"
	>
		{t('projects.viewArchive')}
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</section>
