---
import { Picture } from "@astrojs/image/components";

import { getCollection } from "astro:content";
const projects = await getCollection("projects", ({ data }) => {
  return !data.inProgress;
});
---

<div
  id="projects"
  class="flex flex-col items-center h-screen justify-center p-12"
>
  <h3 class="font-monospace text-terracotta text-2xl md:text-4xl">Projects</h3>
  <span class="h-1 w-10 bg-terracotta mb-10"></span>
  <div class="flex flex-col flex-wrap md:flex-row md:justify-around w-full">
    {
      projects.map((project) => (
        <>
          <a href={project.data.link}>
            <div class="flex flex-col mb-10 text-center max-w-sm h-fit rounded overflow-hidden shadow-lg p-6 ">
              <Picture
                src={project.data.avatar.src}
                alt={project.data.avatar.alt}
                widths={[100, 300]}
                aspectRatio="1:1"
                fit="cover"
                position="center"
                class="w-full rounded mb-6"
              />
              <div>
                <h4 class="text-xl font-semibold mb-2">{project.data.title}</h4>

                <div class="flex flex-col gap-3">
                  <p>{project.data.description}</p>
                  <p>{project.data.tags}</p>
                </div>
              </div>
            </div>
          </a>
        </>
      ))
    }
  </div>
</div>
