---
import { Picture } from '@astrojs/image/components';

import { getCollection } from 'astro:content';
const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress;
});
---

<div id="projects" class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen">
	<h3 class="font-monospace text-2xl text-terracotta md:text-4xl">Projects</h3>
	<span class="mb-10 h-1 w-10 bg-terracotta"></span>
	<div class="flex w-full flex-col flex-wrap items-center md:flex-row md:justify-around">
		{
			projects.map((project) => (
				<>
					<a href={project.data.link}>
						<div class="mb-10 flex h-fit max-w-xs flex-col overflow-hidden rounded border p-6 text-center shadow-lg">
							<Picture
								src={project.data.avatar.src}
								alt={project.data.avatar.alt}
								widths={[100, 300]}
								aspectRatio="1:1"
								fit="cover"
								position="center"
								class="mb-6 w-full rounded"
							/>
							<div>
								<h4 class="mb-2 text-xl font-semibold">{project.data.title}</h4>

								<div class="flex flex-col gap-3">
									<p>{project.data.description}</p>
									<p>{project.data.tags}</p>
								</div>
							</div>
						</div>
					</a>
				</>
			))
		}
	</div>
	<a
		href="https://github.com/"
		target="_blank"
		rel="noopener"
		class="flex flex-row hover:text-terracotta"
	>
		View full private projects archive
		<svg
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke-width="1.5"
			stroke="currentColor"
			class="ml-1 h-6 w-6"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
		</svg>
	</a>
</div>
