---
import projectImage from '@assets/images/project.png';
import Tags from '@components/ui/Tags.astro';
import { Image } from 'astro:assets';

interface Props {
	url?: string;
	alt?: string;
	title?: string;
	description: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	alt = 'Project image',
	description = 'Project Description',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="w-full p-4 md:w-1/2 lg:w-1/3">
	<article
		data-testId="card"
		class="rounded-xl bg-white p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
	>
		<a href={url} aria-label="link to project">
			<div class="relative flex items-end overflow-hidden rounded-xl">
				<Image src={projectImage} alt={alt} format="png" width={400} height={400} loading="eager" />
			</div>
			<div class="mt-1 p-2">
				<h3 class="text-xl text-orange lg:text-2xl">{title}</h3>
				<p class="text-s text-black">{description}</p>
				<Tags tags={tags} />
			</div>
		</a>
	</article>
</section>
