---
import Tags from '@components/ui/Tags.astro';

interface Props {
	url?: string;
	img?: string;
	alt?: string;
	title?: string;
	tags: string[];
	children?: HTMLElement | HTMLElement[];
}

const {
	url = '#',
	img = '/src/assets/images/project.png',
	alt = 'Project image',
	title = 'Project title',
	tags = ['Tags'],
} = Astro.props;
---

<section class="p-4 md:w-1/2 lg:w-1/3">
	<div
		class="h-full overflow-hidden rounded-lg bg-white bg-opacity-40 p-2 shadow-xl dark:border-2 dark:border-white dark:bg-orange dark:bg-opacity-40 dark:bg-none"
	>
		<a href={url}>
			<img
				src={img}
				alt={alt}
				class="relative h-64 w-full overflow-hidden rounded-lg object-cover object-center"
			/>
			<h4 class="text-center text-navy">{title}</h4>
		</a>
		<Tags tags={tags} />
	</div>
</section>
